<div class="container">


        <div class="row">
        <div>
            {{#if isDriver}}
            <p style="color: white;font-size: 80px;margin-top: 40px;margin-left: 40px;">TechGo</p>
            <p style="color: white;font-size: 30px;margin-left: 40px;margin-bottom: 40px;margin-top: 0px;">The best
                driver - the best earner</p>
            {{else}}
            <p style="color: white;font-size: 80px;margin-top: 40px;margin-left: 40px;">TechGo</p>
            <p style="color: white;font-size: 30px;margin-left: 40px;margin-bottom: 40px;margin-top: 0px;">Bring you
                to the mars and back</p>
            {{/if}}
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-12">
            {{#if isDriver}}
            <p style="color: white;font-size: 40px;margin: 40px;">Be TechGo Driver <br>Earn up to 12.000.000 vnd a month
            </p>
            {{else}}
            <p style="color: white;font-size: 40px;margin: 40px;">Need a job? <br>Checkout our position</p>
            {{/if}}
        </div>
    </div>
  
        {{#if isDriver}}
          <div class="row justify-content-center" style="margin-bottom: 40px;">
        <div class="col-6" style="text-align: center;">
            <img src="/images/taxi-driver.png" alt="" width="70%" height="width">
        </div>
        </div>
        {{else if isConsumer}}
          <div class="row justify-content-center" style="margin-bottom: 40px;">
        <div class="col-6" style="text-align: center;">
            <img src="/images/delivery-man-driver-pngrepo-com.png" alt="" width="70%" height="width">
        </div>
        </div>
        {{else}}
          <div class="row justify-content-between" style="margin-bottom: 40px;">
        <div class="col-6" style="text-align: center;">
            <img src="/images/taxi-driver.png" alt="" width="70%" height="width">
        </div>
        <div class="col-6" style="text-align: center;">
            <img src="/images/delivery-man-driver-pngrepo-com.png" alt="" width="70%" height="width">
        </div>
        </div>
        {{/if}}

    {{#if isDriver}}
    {{else if isConsumer}}
    {{else}}
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card container-fluid">
                <div class="card-body">
                    <h5 class="card-title">Become our partner</h5>
                    <p class="card-text">BECOME A TECHBIKE/
                        TECHDELIVERY just by one click</p>
                </div>
                <div class="card-body text-right "><a href="/whyTechGo" class="btn btn-primary">Be come a
                        partner</a></div>
            </div>
        </div> <!-- become our partner row -->
    </div>
    {{/if}}
    <!-- learn more about service -->
     {{#if isDriver}}
      <div class="row">
        <p style="color: white;font-size: 40px;margin: 40px;"> TechGo driver richest drivers on the globe</p>
    </div> <!-- learn more about service -->
        <!-- service table -->
    <div class="row rounded justify-content-around" style="padding-top: 40px;padding-bottom: 40px;">
        <div class="col-5 rounded" style="background-color: white;text-align: center; padding: 30px;">
                <img src="/images/icon-earn-1.png" width="100vw" height="100vw">
                <h3 class="why">50.000vnd/hour</h3>
                <p class="why"> &emsp;Picked your customer and earn upto 50.000 vnd per hour</p>
        </div>
        <div class="col-5 rounded" style="background-color: white;text-align: center; padding: 10px;">
                <img src="/images/icon-freedom.png" width="100vw" height="100vw">
                <h3 class="why">Flexible time</h3>
                <p class="why"> &emsp;Word only when you feel best</p>
        </div>
         <div class="col-5 rounded m-1" style="background-color: white;text-align: center; padding: 10px;">            
                <img src="/images/icon-community-1.png" width="100vw" height="100vw">
                <h3 class="why">Supported by hour top service</h3>
                <p class="why"> &emsp;Driver is also our customer, your will be helped whenever needed</p>
        </div>
    </div> <!-- service table -->
    {{else}}
     <div class="row">
        <p style="color: white;font-size: 40px;margin: 40px;"> Learn more about the many different ways we serve
            your everyday needs.</p>
    </div> <!-- learn more about service -->    
        <!-- service table -->
    <div class="row rounded justify-content-around" style="padding-top: 40px;padding-bottom: 40px;">
        <div class="col-5 rounded" style="background-color: white;text-align: center; padding: 30px;">
            <a href="/transport" style="text-decoration: none;color: black;">
                <img src="/images/icon-freedom.png" width="100vw" height="100vw">
                <h3 class="why">Transport</h3>
                <p class="why"> &emsp;Move around the city just by a few click</p>
            </a>
        </div>
        <div class="col-5 rounded" style="background-color: white;text-align: center; padding: 10px;">
            <a href="/delivery" style="text-decoration: none;color: black;">
                <img src="/images/icon-earn-1.png" width="100vw" height="100vw">
                <h3 class="why">Delivery</h3>
                <p class="why"> &emsp;Shipping service with fast and secure</p>
            </a>
        </div>
    </div> <!-- service table -->
    {{/if}}


    </div>