<div class="container mt-5">
        <div class="card mx-auto" style="width: 100%;">
            <div class="card-header text-center">Account</div>
            <div class="card-body">
                <nav class="nav">
                    <a class="nav-link" href="/admin/account_management">Account Management</a>
                    <a class="nav-link" href="/admin/reports">Report List</a>
                    <a class="nav-link" href="/admin/contacts">Contact List</a>
                    <a class="nav-link" href="/admin/feedback">Feedback</a>
                </nav>
                <hr>
                {{#if message}}
                <div class="row">
                        <div class="col-md-12 alert {{kind}} text-center">
                            {{message}}
                        </div>
                </div>
                {{/if}}
                
                <h3>DRIVERS</h3>
                
                <table class="table">
                    <thead>
                        <th scope="col">No</th>
                        <th scope="col">Username</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Location</th>
                    </thead>
                    <tbody>
                        {{#each listDriver}}
                            
                            <tr>
                                
                                <th scope="row">{{@index}}</th>
                                <td>{{name}}</td>
                                <td>{{dob}}</td>
                                <td>{{email}}</td>
                                <td>{{phone}}</td>
                                <td>{{address}}</td>
                                <td><a href="/admin/driver_account/{{id}}">See</a></td>
                                
                            </tr>
                            
                        {{/each}}
                        
                    </tbody>
                </table>
                
                
            </div>
        </div>

    </div>